@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }

#header {
  margin-top: 110px; }
  #header img {
    width: 100%; }

#footer {
  padding: 30px 0;
  display: flex;
  flex-direction: column; }
  #footer img {
    width: 30px; }

.galeria__img {
  display: flex;
  justify-content: space-evenly; }

.img__galeria {
  width: 500px; }

table {
  display: grid;
  border: lightgrey 10px solid;
  font-family: "Roboto", sans-serif; }
  table tr {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    font-size: 1rem;
    background-color: #f2c05e; }

.encabezado {
  background: #b05d1d;
  background: linear-gradient(90deg, #b05d1d 0%, #f9b332 48%, #ffde82 100%);
  position: fixed;
  top: 0;
  padding: 10px 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }
  .encabezado:hover {
    text-decoration: underline; }
  .encabezado img {
    width: 100px; }
    @media (max-width: 480px) {
      .encabezado img {
        width: 50px; } }
  .encabezado ul {
    display: flex; }
    .encabezado ul li {
      list-style: none;
      display: flex;
      margin-right: 100px;
      height: 15px;
      vertical-align: middle;
      text-decoration-color: none;
      font-size: 3rem;
      font-weight: 400;
      font-family: "Roboto", sans-serif; }
      .encabezado ul li a {
        font-size: 1.8rem;
        text-decoration: none; }
        .encabezado ul li a:hover {
          font-weight: 500;
          color: #000000;
          background-size: 100% 2px; }

.contenedor {
  background-image: url(../img/background.png);
  background-repeat: repeat;
  background-attachment: scroll;
  background-color: #f2c05e; }

#main article {
  align-items: center;
  text-align: center; }

#main h1 {
  color: #e4c898;
  font-weight: 500;
  font-size: 5rem;
  text-align: center; }

#main h2 {
  color: #8f7518;
  font-weight: 400;
  font-size: 3rem;
  text-align: center; }

#main h3 {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  text-align: center; }

#main p {
  width: 600;
  height: auto;
  overflow: auto;
  margin: 10px auto;
  padding: 20px 100px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: lightgrey;
  text-align: center;
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.4 rem;
  background-color: #f2c05e; }
